* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.section {
  margin: 0 auto;
  width: 400px;
  height: 100vh;

  align-items: center;
  text-align: center;
}

h2 {
  margin-top: 50px;
}

.robot {
  margin-top: 100px;
}

/* head ++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.head {
  height: 150px;
  margin: 0 60px;
  background: rgb(32, 158, 216);
  display: flex;
  justify-content: space-around;
  align-items: end;
  border-radius: 200px 200px 0 0;
  margin-bottom: 30px;
  padding: 20px;
  transition: all 0.3s linear;
}

.head:hover {
  margin-left: 0;
  margin-right: 0;
}

.lefteye {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}

.righteye {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}

.invisibleeye {
  width: 20px;
  height: 20px;
  background: rgb(32, 158, 216);
  border-radius: 50%;
}

/* body ++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.body {
  display: flex;
  justify-content: space-between;
}

.lefthand {
  width: 40px;
  height: 150px;
  background: rgb(32, 158, 216);
  border-radius: 50px;
  transition: all 0.3s linear;
}

.lefthand:hover {
  transform: rotate(30deg);
}

.chest {
  background: rgb(32, 158, 216);
  width: 280px;
  height: 250px;
  border-radius: 0 0 50px 50px;
}

.righthand {
  width: 40px;
  height: 150px;
  background: rgb(32, 158, 216);
  border-radius: 50px;
}

.legs {
  display: flex;
  justify-content: space-around;
}

.leftleg {
  width: 40px;
  height: 100px;
  background: rgb(32, 158, 216);
  border-radius: 0 0 50px 50px;
}

.rightleg {
  width: 40px;
  height: 100px;
  background: rgb(32, 158, 216);
  border-radius: 0 0 50px 50px;
}
