@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

/* 
===========
Variables
===========
*/

:root {
  --clr-primary: #2b59d6;
  --clr-secondary: #df87f5;
  --clr-black: #0f0f0f;
  --clr-white: #ffffff;
  --transition: all 0.3s linear;
  --max-width: 1170px;
  --shadow: 0px 4px 4px rgba(3, 7, 18, 0.05);
  font-family: "Noto Sans", sans-serif;
}

/* 
===========
Global Styles
===========
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: #fcf8f8;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  color: var(--clr-black);
}

p {
  font-size: 17px;
}

ul {
  list-style-type: none;
}

/* 
===========
Assets
===========
*/

.btn {
  padding: 10px 16px;
  background-color: var(--clr-primary);
  color: white;
  font-weight: 700;
  border: transparent;
  transition: var(--transition);
  text-transform: capitalize;
  border-radius: 8px;
}

.btn:hover {
  color: var(--clr-primary);
  background-color: var(--clr-white);
  border: 1px solid;
  border-color: var(--clr-primary);
}

/* 
===========
Navbar
===========
*/

nav {
  background-color: var(--clr-white);
  height: 4rem;
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
}

.nav-center {
  width: 90vw;
  max-width: var(--max-width);
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-center h4 {
  color: var(--clr-primary);
}

.nav-links {
  display: flex;
  gap: 0 1rem;
}

nav a {
  text-transform: capitalize;
  font-size: 1rem;
  color: var(--clr-secondary);
  transition: var(--transition);
}

nav a:hover {
  color: var(--clr-primary);
}

/* 
===========
Container
===========
*/

main {
  height: calc(100vh - 4rem);
  display: grid;
  place-items: center;
}

.container {
  text-align: center;
}

.container h2 {
  background: var(--clr-black);
  color: var(--clr-white);
  padding: 1rem 2rem;
  border-radius: 16px;
  margin-bottom: 2rem;
}

.color {
  color: var(--clr-primary);
  text-transform: uppercase;
}

.btn-hero {
  text-transform: uppercase;
  background: transparent;
  border: 1px solid var(--clr-black);
  color: var(--clr-black);
  padding: 0.75rem 1.25rem;
}

.btn-hero:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
